Repository intel/BDTK, pull requests merged in 2022-09, with the labels that each got.

#3 [POAE7-2336] update actions' yaml
  .github/workflows/main.yml
Labels: CICD

#4 [POAE7-2331] fix some bugs by TPC-H
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.cpp
  cider-velox/src/planTransformer/PlanUtil.cpp
  cider-velox/test/e-2-e/presto/queries/tpch/q13.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q15.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q22.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q4.sql
  cider/exec/template/AutomaticIRMetadataGuard.h
Labels: veloxIntegration, Test

#10 [POAE7-2336] add timeout for CI
  .github/workflows/main.yml
Labels: CICD

#6 [POAE7-2337] Update README and remove add JIRA link
  .github/config_files/title_check.js
  README.md
  ci/docker/Dockerfile
  ci/docker/scripts-cider/cider-deps-ubuntu.sh
Labels: CICD

#14 [POAE7-2343] Enable labels for BDTK repo
  .github/labeler.yaml
Labels: CICD

#11 [POAE7-2338] TODO and FIXME resolvement in CiderFilterTest and expression evaluation module
  cider-velox/test/expression/ExprEvalUtils.cpp
  cider-velox/test/expression/VeloxToCiderExpr.cpp
  cider/exec/module/CiderCompileModule.cpp
  cider/exec/plan/parser/ConverterHelper.cpp
  cider/tests/CiderAggTestHelper.h
  cider/tests/Substrait2IRTest.cpp
  cider/tests/functionality/CiderFilterTest.cpp
  cider/tests/functionality/CiderMathOpTest.cpp
Labels: test

#13 [POAE7-1994][POAE7-2312] [41003] avg on col
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/src/TypeConversions.h
  cider-velox/test/AggWithRandomDataTest.cpp
  cider-velox/test/CiderOperatorTest.cpp
  cider-velox/test/planTransformerTest/CiderPlanTransformerIncludes.h
  cider/tests/CiderNongroupbyAggTestHelper.h
Labels: velox_plugin, test

#25 [POAE7-2350]:fix bug 'Clone velox plannode:Not supported velox planno…
  cider-velox/src/planTransformer/PlanUtil.cpp
Labels: velox_plugin

#24 [POAE7-2358] Fix bug for not properly handled when fetchResults retur…
  cider-velox/src/RawDataConvertor.cpp
Labels: velox_plugin

#9 [POAE7-2328] code refactor with CiderAllocator
  cider-velox/src/ArrowConvertorUtils.cpp
  cider-velox/src/ArrowConvertorUtils.h
  cider-velox/src/ArrowDataConvertor.cpp
  cider-velox/src/ArrowDataConvertor.h
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/DataConvertor.h
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/src/RawDataConvertor.h
  cider-velox/test/AggWithRandomDataTest.cpp
  cider-velox/test/ArrowUtilsTest.cpp
  cider-velox/test/DataConvertorTest.cpp
  cider-velox/test/expression/CiderComparisonConjunct.cpp
  cider-velox/test/expression/CiderSimpleArithmetic.cpp
  cider/examples/CiderRuntimeModuleExample.cpp
  cider/examples/ExpressionEvalExample.cpp
  cider/exec/module/CiderCompileModule.cpp
  cider/exec/module/CiderExprEvaluator.cpp
  cider/exec/module/CiderExprEvaluator.h
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderArrowBufferHolder.cpp
  cider/exec/module/batch/CiderArrowBufferHolder.h
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/operator/aggregate/CiderAggHashTable.cpp
  cider/exec/template/CountDistinct.h
  cider/exec/template/Execute.cpp
  cider/exec/template/OutputBufferInitialization.cpp
  cider/exec/template/OutputBufferInitialization.h
  cider/include/cider/CiderAllocator.h
  cider/include/cider/CiderCompileModule.h
  cider/include/cider/batch/CiderBatch.h
  cider/include/cider/batch/CiderBatchUtils.h
  cider/include/cider/batch/ScalarBatch.h
  cider/include/cider/batch/StructBatch.h
  cider/tests/CiderAggHashTableTest.cpp
  cider/tests/CiderAggTestHelper.h
  cider/tests/CiderArrowBatchTest.cpp
  cider/tests/CiderBitUtilsTest.cpp
  cider/tests/CiderCompileModuleTest.cpp
  cider/tests/CiderNongroupbyAggTest.cpp
  cider/tests/CiderNongroupbyAggTestHelper.h
  cider/tests/CiderRuntimeModuleJoinTest.cpp
  cider/tests/CiderRuntimeModuleTest.cpp
  cider/tests/CompileWorkUnitTest.cpp
  cider/tests/ExpressionEvalTest.cpp
  cider/tests/Substrait2IRTest.cpp
  cider/tests/utils/CiderBatchBuilder.h
  cider/tests/utils/CiderBenchmarkRunner.h
  cider/tests/utils/CiderQueryRunner.h
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/QueryDataGenerator.h
  cider/type/data/string/StringDictionary.cpp
  cider/type/data/string/StringDictionary.h
  cider/util/CiderBitUtils.h
  docs/CiderAllocator-use-guide.rst
Labels: documentation, velox_plugin, test

#15 [POAE7-2344] TODO and FIXME resolvement in CiderBatchChecker
  cider/tests/functionality/CiderGroupByTest.cpp
  cider/tests/utils/CiderBatchChecker.h
  cider/tests/utils/CiderBatchCheckerTest.cpp
Labels: test

#29 [POAE7-2366] between...and... function date type support
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/tests/functionality/ScalarFunctionExprTest.cpp
  cider/tests/substrait_plan_files/between_and_date_velox.json
Labels: bug, test, cider

#28 [POAE7-2362] update develop-guide.html
  docs/develop-guide.rst
Labels: documentation

#17 [POAE7-2346] using new data format
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/CiderOperator.h
  cider-velox/src/CiderStatefulOperator.cpp
  cider/exec/module/batch/CiderBatch.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/include/cider/batch/CiderBatchUtils.h
Labels: veloxIntegration

#23 [POAE7-1944] add sum tests with conditional expr
  cider/tests/functionality/CiderCaseWhenTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test

#32 [POAE7-2301]Development Specification
  docs/development-specification.rst
  docs/index.rst
Labels: documentation

#34 [POAE7-2369]replace abort
  cider/exec/operator/aggregate/CiderAggHashTable.cpp
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
  cider/exec/template/ArithmeticIR.cpp
  cider/exec/template/CgenState.cpp
  cider/exec/template/CgenState.h
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/CompareIR.cpp
  cider/exec/template/ConstantIR.cpp
  cider/exec/template/DateTimeUtils.h
  cider/exec/template/Execute.cpp
  cider/exec/template/Execute.h
  cider/exec/template/GroupByAndAggregate.cpp
  cider/exec/template/GroupByAndAggregate.h
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/LogicalIR.cpp
  cider/exec/template/OutputBufferInitialization.cpp
  cider/exec/template/TargetValue.h
  cider/function/datetime/DateAdd.cpp
  cider/function/datetime/DateTruncate.cpp
  cider/function/datetime/ExtractFromTime.cpp
  cider/include/cider/CiderException.h
  cider/include/cider/batch/CiderBatch.h
  cider/type/data/InlineNullValues.h
  cider/type/plan/Analyzer.h
  cider/util/Datum.cpp
  cider/util/Logger.cpp
  cider/util/Logger.h
  cider/util/SqlTypesLayout.h
  cider/util/TypedDataAccessors.h
Labels: cider, API

#35 [POAE7-2368][Hot Fix] Workaround for Nullability Problem Under NOT IS NULL Expression.
  cider/exec/template/LogicalIR.cpp
Labels: cider

#38 [POAE7-2366] between...and... string support(cast str to date tpch-q7 workaround)
  cider-velox/test/e-2-e/presto/queries/tpch/q7.sql
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/cast_str_to_date_implictly.json
Labels: bug, test, cider

#26 [POAE7-2372] Fix non-GroupBy avg with null value
  cider/exec/module/CiderRuntimeModule.cpp
  cider/include/cider/CiderRuntimeModule.h
  cider/tests/functionality/CiderAggTest.cpp
  cider/tests/substrait_plan_files/avg_all_null_partial.json
  cider/tests/substrait_plan_files/avg_with_null_partial.json
Labels: test, cider, API

#41 [POAE7-2370] Incorrect string conversion
  cider-velox/test/e-2-e/presto/queries/tpch/q2.sql
  cider/exec/module/CiderRuntimeModule.cpp
  cider/include/cider/CiderRuntimeModule.h
Labels: test, cider, API

#39 [POAE7-2317] Enable E2E cider UT test in CICD
  .github/workflows/main.yml
  cider-velox/test/e-2-e/presto/cider-ut/CiderAggTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderCaseWhenTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderCastTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderConstantQueryTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderFilterTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderGroupByTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderHashJoinTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderMathOpTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderNonEqualLoopJoinTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/CiderStringTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/DateTypeQueryTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/PrimitiveTypeQueryTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/ScalarFunctionExprTest.sql
  cider-velox/test/e-2-e/presto/cider-ut/SimpleCiderTest.sql
Labels: test

#21 [POAE7-2351] refactor cider time type and add time func
  cider/exec/module/CiderTypes.cpp
  cider/exec/plan/parser/ConverterHelper.cpp
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.h
  cider/include/cider/CiderTypes.h
  cider/include/cider/batch/CiderBatch.h
  cider/tests/functionality/CiderMathOpTest.cpp
  cider/tests/functionality/DateTypeQueryTest.cpp
  cider/tests/substrait_plan_files/add_timestamp_interval_day.json
  cider/tests/substrait_plan_files/add_timestamp_interval_month.json
  cider/tests/substrait_plan_files/add_timestamp_interval_second.json
  cider/tests/substrait_plan_files/cast_date_as_timestamp.json
  cider/tests/substrait_plan_files/cast_literal_timestamp.json
  cider/tests/substrait_plan_files/cast_timestamp_as_date.json
  cider/tests/substrait_plan_files/extract/microsecond_of_timestamp.json
  cider/tests/substrait_plan_files/extract/second_of_time.json
  cider/tests/utils/CiderBatchBuilder.h
  cider/tests/utils/CiderBatchBuilderTest.cpp
  cider/tests/utils/CiderQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
  cider/tests/utils/QueryDataGenerator.h
  cider/tests/utils/QueryDataGeneratorTest.cpp
  cider/type/data/sqltypes.h
Labels: test, cider, API, codeRefactor

#47 [POAE7-2383] turn on all passed TPC-H queries
  cider-velox/test/e-2-e/presto/queries/tpch/q1.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q10.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q11.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q12.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q14.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q16.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q17.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q18.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q19.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q20.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q3.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q5.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q8.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q9.sql
Labels: test

#33 [POAE7-2352] IN(varchar) support
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/plan/parser/Translator.cpp
  cider/exec/template/CgenState.h
  cider/exec/template/Execute.cpp
  cider/exec/template/ExpressionRewrite.cpp
  cider/exec/template/InValuesIR.cpp
  cider/tests/functionality/CiderFilterTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/in_string_2_array_with_substr.json
  cider/tests/substrait_plan_files/in_string_array.json
  cider/tests/substrait_plan_files/in_string_array_with_substr.json
  cider/tests/utils/CiderTestBase.cpp
Labels: test, cider

#42 [POAE7-2190]distinct on col/ on expr(w/wo conditional)
  docs/syntax-support.rst
Labels: documentation

#36 [POAE7-2374] Remove TODO for project and non-groupby and throw except…
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/RelAlgExecutionUnit.h
  cider/exec/template/TargetExprBuilder.cpp
  cider/include/cider/CiderTableSchema.h
Labels: cider, API
