Repository intel/BDTK, pull requests merged in 2022-12, with the labels that each got.

#204 [POAE7-2577] Add nexgen compiler module
  Makefile
  cider/exec/module/CMakeLists.txt
  cider/exec/module/CiderCompileModule.cpp
  cider/exec/module/CiderOptions.cpp
  cider/exec/nextgen/CMakeLists.txt
  cider/exec/nextgen/Nextgen.cpp
  cider/exec/nextgen/Nextgen.h
  cider/exec/nextgen/context/CodegenContext.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  cider/exec/nextgen/operators/ArrowSourceNode.cpp
  cider/exec/nextgen/operators/ArrowSourceNode.h
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/ColumnToRowNode.h
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/operators/FilterNode.h
  cider/exec/nextgen/operators/OpNode.h
  cider/exec/nextgen/operators/ProjectNode.cpp
  cider/exec/nextgen/operators/ProjectNode.h
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.h
  cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  cider/exec/template/CompilationOptions.h
  cider/include/cider/CiderOptions.h
  cider/tests/nextgen/compiler/CMakeLists.txt
  cider/tests/nextgen/compiler/NextgenCompilerTest.cpp
  cider/tests/utils/CiderQueryRunner.cpp
  cider/tests/utils/CiderQueryRunner.h
  cider/type/plan/Analyzer.h
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/BinaryExpr.h
  cider/type/plan/ColumnExpr.cpp
  cider/type/plan/ColumnExpr.h
  cider/type/plan/ConstantExpr.cpp
  cider/type/plan/ConstantExpr.h
  cider/type/plan/Expr.cpp
Labels: test, cider, API

#215 [POAE7-2511] Update and verify test case of Non Groupby Agg
  cider/tests/CiderNongroupbyAggTest.cpp
  cider/tests/CiderNongroupbyAggTestHelper.h
Labels: test

#214 [POAE7-2625] support primitive type cast func in nextgen
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/tests/nextgen/functional/CMakeLists.txt
  cider/tests/nextgen/functional/CiderCastNextgenTest.cpp
  cider/type/plan/UnaryExpr.cpp
  cider/type/plan/UnaryExpr.h
Labels: test, cider

#218 [POAE7-2652]bool specialization in expr
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/operators/ArrowSourceNode.cpp
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/exec/nextgen/utils/JITExprValue.h
  cider/tests/nextgen/compiler/FilterProjectTest.cpp
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/ConstantExpr.cpp
Labels: test, cider, infra

#211 [POAE7-2561] String Scalar Function support: regexp_replace
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/function/string/StringOps.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_regexp_replace_all.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_capture.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_first.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_neg_occ.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_neg_pos.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_position.json
  cider/tests/substrait_plan_files/stringop_regexp_replace_second.json
  cider/tests/utils/Utils.h
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
Labels: test, cider

#216 [POAE7-2647] support STRUCT result for groupby agg for arrow format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatch.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/tests/functionality/CiderAggArrowTest.cpp
Labels: test, cider, API

#213 [POAE7-2624] support is distinct from for nextgen
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/tests/nextgen/functional/CiderExprNextgenTest.cpp
  cider/tests/nextgen/functional/jsons/is_distinct_from.json
  cider/tests/nextgen/functional/jsons/is_not_distinct_from.json
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/BinaryExpr.h
Labels: test, cider

#217 [POAE7-2634] JITLib Code Improvement & Refactor
  cider/exec/nextgen/context/CodegenContext.cpp
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/jitlib/base/ValueTypes.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider

#228 [POAE7-2669] Optimize substrait-cpp compilation in cider only once
  cider/function/CMakeLists.txt
  cmake-modules/substrait-cpp.cmake
Labels: cider

#224 [POAE7-2670] [Hot-fix]modify JITValue Logical operations return type
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: cider

#219 [POAE7-2562] String scalar function support: split
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.h
  cider/function/SubstraitFunctionCiderMappings.h
  cider/function/internals/functions_string.yaml
  cider/function/string/StringOps.cpp
  cider/function/string/StringOps.h
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_split_index_filter.json
  cider/tests/substrait_plan_files/stringop_split_index_filter_null.json
  cider/tests/substrait_plan_files/stringop_split_index_indexing.json
  cider/tests/substrait_plan_files/stringop_split_index_indexing_reversed.json
  cider/tests/substrait_plan_files/stringop_split_index_limit_1.json
  cider/tests/substrait_plan_files/stringop_split_index_limit_2.json
  cider/tests/substrait_plan_files/stringop_split_index_multi.json
  cider/tests/substrait_plan_files/stringop_split_index_not_found.json
  cider/tests/substrait_plan_files/stringop_split_index_oob.json
  cider/tests/substrait_plan_files/stringop_split_part.json
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
  cider/util/sqldefs.h
Labels: test, cider

#222 [POAE7-2659] logical op and bool type support
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/exec/nextgen/utils/TypeUtils.h
  cider/tests/nextgen/functional/CiderExprNextgenTest.cpp
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/BinaryExpr.h
Labels: test, cider

#225 [POAE7-2664] add context buffer
  cider/exec/nextgen/context/Buffer.h
  cider/exec/nextgen/context/CodegenContext.cpp
  cider/exec/nextgen/context/CodegenContext.h
  cider/exec/nextgen/context/ContextRuntimeFunctions.h
  cider/exec/nextgen/context/RuntimeContext.cpp
  cider/exec/nextgen/context/RuntimeContext.h
  cider/tests/nextgen/compiler/CMakeLists.txt
  cider/tests/nextgen/compiler/ContextTest.cpp
Labels: test, cider, infra

#232 [POAE7-2673] fix constant codegen for smallint/bigint etc.
  cider/tests/nextgen/compiler/FilterProjectTest.cpp
  cider/type/plan/ConstantExpr.cpp
Labels: test, cider, infra

#229 [POAE7-2557] String scalar function support: regexp_extract
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/function/SubstraitFunctionCiderMappings.h
  cider/function/internals/functions_string.yaml
  cider/function/string/StringOps.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_regexp_extract_full.json
  cider/tests/substrait_plan_files/stringop_regexp_extract_group.json
  cider/tests/substrait_plan_files/stringop_regexp_substr_first.json
  cider/tests/substrait_plan_files/stringop_regexp_substr_last.json
  cider/tests/substrait_plan_files/stringop_regexp_substr_pos.json
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
  cider/util/sqldefs.h
Labels: test, cider

#226 [POAE7-2666] Support for calling multiple JITValue methods
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider, infra

#240 [POAE7-2696] Fix memory leakage in FunctionLookupEngine
  cider/function/FunctionLookupEngine.cpp
  cider/function/FunctionLookupEngine.h
  cider/tests/functionality/FunctionLookUpTest.cpp
Labels: bug, test, cider

#245 [POAE7-2699] [HotFix] Fix input column index in ArrowSourceOp.
  cider/exec/nextgen/operators/ArrowSourceNode.cpp
Labels: cider

#241 [POAE7-2680] LLVMJIT IR Dump Result Refinement
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
Labels: cider

#239 [POAE7-2686]string type C2R, R2C support
  cider/exec/nextgen/context/CodegenContext.cpp
  cider/exec/nextgen/context/ContextRuntimeFunctions.h
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/exec/nextgen/utils/JITExprValue.h
  cider/function/scalar/RuntimeFunctions.cpp
  cider/tests/nextgen/compiler/FilterProjectTest.cpp
Labels: test, cider

#236 [POAE7-2683] verify PartialAVG for cider-velox for arrow format
  cider-velox/test/CiderOperatorTest.cpp
  cider/tests/CiderNongroupbyAggTest.cpp
  cider/tests/CiderNongroupbyAggTestHelper.h
Labels: test

#249 [POAE7-2693] make FunctionLookupEngine yaml file path configurable
  cider-velox/src/BitUtils.h
  cider-velox/src/CiderVeloxPluginCtx.cpp
  cider-velox/src/CiderVeloxPluginCtx.h
  cider/function/FunctionLookupEngine.cpp
  cider/function/FunctionLookupEngine.h
Labels: velox_plugin, cider

#237 [POAE7-2684] add linear probing hashtable for join
  ci/scripts/intel_copyright_files.txt
  cider/exec/operator/join/.gitkeep
  cider/exec/operator/join/CiderF14HashTable.h
  cider/exec/operator/join/CiderLinearProbingHashTable.h
  cider/exec/operator/join/CiderStdUnorderedHashTable.h
  cider/tests/CMakeLists.txt
  cider/tests/hashtable/CMakeLists.txt
  cider/tests/hashtable/CiderHashTableTest.cpp
Labels: test, cider

#254 [POAE7-2710] Add functional module description
  README.md
  docs/user.rst
  docs/user/modules.rst
  docs/user/modules/ICL-module.rst
  docs/user/modules/expr-eval-module.rst
  docs/user/modules/hash-table-module
  docs/user/modules/operators-module
Labels: documentation

#242 [POAE7-2689] simple non-groupby agg translator (support sum)
  src/cider/exec/nextgen/context/Buffer.h
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/context/RuntimeContext.cpp
  src/cider/exec/nextgen/jitlib/base/ValueTypes.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  src/cider/exec/nextgen/operators/AggregationNode.cpp
  src/cider/exec/nextgen/operators/AggregationNode.h
  src/cider/exec/nextgen/operators/CMakeLists.txt
  src/cider/exec/nextgen/operators/OperatorRuntimeFunctions.h
  src/cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  src/cider/function/CMakeLists.txt
  src/cider/function/scalar/RuntimeFunctions.cpp
  src/cider/tests/nextgen/compiler/AggTest.cpp
  src/cider/tests/nextgen/compiler/CMakeLists.txt
  src/cider/type/plan/Analyzer.h
Labels: test, cider, infra

#251 [POAE7-2682] LLVMJIT TargetMachine Configuration
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
Labels: cider

#244 [POAE7-2653] support time type/date add func in nextgen
  ci/scripts/intel_copyright_files.txt
  src/cider/exec/module/batch/CiderBatchUtils.cpp
  src/cider/exec/nextgen/jitlib/base/JITValue.h
  src/cider/exec/nextgen/jitlib/base/JITValueOperations.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  src/cider/exec/nextgen/operators/ColumnToRowNode.cpp
  src/cider/exec/nextgen/operators/RowToColumnNode.cpp
  src/cider/exec/nextgen/utils/TypeUtils.h
  src/cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  src/cider/function/CMakeLists.txt
  src/cider/function/datetime/CiderDateFunctions.cpp
  src/cider/function/scalar/RuntimeFunctions.cpp
  src/cider/tests/nextgen/functional/DateTest.cpp
  src/cider/tests/nextgen/operator/MockRowToColumn.h
  src/cider/type/plan/Analyzer.cpp
  src/cider/type/plan/Analyzer.h
  src/cider/type/plan/CMakeLists.txt
  src/cider/type/plan/ConstantExpr.cpp
  src/cider/type/plan/DateExpr.cpp
  src/cider/type/plan/DateExpr.h
  src/cider/type/plan/UnaryExpr.cpp
  src/cider/type/plan/UnaryExpr.h
Labels: CICD, test, cider, codeRefactor

#261 [POAE-2633]update presto patch
  ci/scripts/build-presto-package.sh
  ci/scripts/presto-bdtk-67b3bf.patch
Labels: CICD

#246 [POAE7-2649] Add function lookup in single node validator
  src/cider/exec/plan/parser/ConverterHelper.cpp
  src/cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  src/cider/exec/plan/parser/SubstraitToRelAlgExecutionUnit.h
  src/cider/exec/plan/validator/CMakeLists.txt
  src/cider/exec/plan/validator/CiderPlanValidator.cpp
  src/cider/exec/plan/validator/CiderPlanValidator.h
  src/cider/exec/plan/validator/SingleNodeValidator.cpp
  src/cider/exec/plan/validator/SingleNodeValidator.h
  src/cider/function/FunctionLookupEngine.cpp
  src/cider/function/FunctionLookupEngine.h
  src/cider/function/SubstraitFunctionCiderMappings.h
  src/cider/function/internals/functions_arithmetic.yaml
  src/cider/include/cider/CiderException.h
  src/cider/tests/functionality/FunctionLookUpTest.cpp
  src/cider/tests/plan/CiderPlanValidatorTest.cpp
  src/cider/tests/substrait_plan_files/cider_pv_unsupported_function.json
Labels: test, cider, API

#243 [POAE7-2668] Add nextgen compile support for StatelessProcessor
  src/cider-velox/src/CiderHashJoinBuild.cpp
  src/cider-velox/src/CiderHashJoinBuild.h
  src/cider-velox/src/CiderPipelineOperator.cpp
  src/cider-velox/src/CiderPipelineOperator.h
  src/cider/exec/module/CiderRuntimeModule.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/processor/DefaultBatchProcessor.cpp
  src/cider/exec/processor/DefaultBatchProcessor.h
  src/cider/exec/processor/DefaultJoinHashTableBuilder.cpp
  src/cider/exec/processor/DefaultJoinHashTableBuilder.h
  src/cider/exec/processor/JoinHandler.cpp
  src/cider/exec/processor/JoinHandler.h
  src/cider/exec/processor/StatefulProcessor.cpp
  src/cider/exec/processor/StatefulProcessor.h
  src/cider/exec/processor/StatelessProcessor.cpp
  src/cider/exec/processor/StatelessProcessor.h
  src/cider/include/cider/processor/BatchProcessor.h
  src/cider/include/cider/processor/BatchProcessorContext.h
  src/cider/include/cider/processor/JoinHashTableBuilder.h
  src/cider/tests/CMakeLists.txt
  src/cider/tests/processor/CMakeLists.txt
  src/cider/tests/processor/CiderBatchProcessorTest.cpp
Labels: velox_plugin, test, cider, API

#247 [POAE7-2677] HashTable implemented with int8 and int16
  ci/scripts/copyright_files_excluded.txt
  ci/scripts/license-header.py
  ci/scripts/license.header.mixed
  ci/scripts/mixed_copyright_files.txt
  src/cider/CMakeLists.txt
  src/cider/common/Arena.h
  src/cider/common/CMakeLists.txt
  src/cider/common/LICENSE
  src/cider/common/Stopwatch.h
  src/cider/common/base/time.h
  src/cider/common/base/unaligned.h
  src/cider/common/contrib/CMakeLists.txt
  src/cider/common/contrib/cityhash102/CMakeLists.txt
  src/cider/common/contrib/cityhash102/COPYING
  src/cider/common/contrib/cityhash102/include/city.h
  src/cider/common/contrib/cityhash102/include/citycrc.h
  src/cider/common/contrib/cityhash102/src/city.cc
  src/cider/common/hashtable/FixedHashMap.h
  src/cider/common/hashtable/FixedHashSet.h
  src/cider/common/hashtable/FixedHashTable.h
  src/cider/common/hashtable/Hash.h
  src/cider/common/hashtable/HashMap.h
  src/cider/common/hashtable/HashSet.h
  src/cider/common/hashtable/HashTable.h
  src/cider/common/hashtable/HashTableAllocator.h
  src/cider/common/hashtable/Prefetching.h
  src/cider/tests/CMakeLists.txt
  src/cider/tests/CiderNewHashTableTest.cpp
Labels: CICD

#250 [POAE7-2065] Cider Benchmark Utils (simple csv reader and data loader)
  src/cider/tests/benchmark/ArrowDataReader.h
  src/cider/tests/benchmark/CMakeLists.txt
  src/cider/tests/benchmark/CiderBenchmarkBase.h
  src/cider/tests/benchmark/CiderOpBenchmark.cpp
  src/cider/tests/utils/ArrowArrayBuilder.h
  src/cider/tests/utils/CiderBenchmarkRunner.cpp
Labels: test

#265 [POAE7-2725] NextGen segfaults if no column is referenced in input query
  src/cider/exec/nextgen/operators/ColumnToRowNode.cpp
  src/cider/tests/nextgen/compiler/FilterProjectTest.cpp
Labels: bug

#255 [POAE7-2710] Update document for introduction
  .github/workflows/update-gh-pages.yml
  README.md
  docs/images/Personas.PNG
  docs/user/modules.rst
  docs/user/modules/hash-table-module.rst
  docs/user/modules/jit-lib-module.rst
  docs/user/modules/operators-module.rst
Labels: documentation, CICD

#271 [POAE7-2711] JITLib Basic Performance Benchmark versus g++
  src/cider/CMakeLists.txt
  src/cider/benchmarks/.gitkeep
  src/cider/benchmarks/CMakeLists.txt
  src/cider/benchmarks/JITlibBenchmark.cpp
  src/cider/exec/nextgen/jitlib/base/ValueTypes.h
  src/cider/tests/nextgen/CMakeLists.txt
  src/cider/type/data/funcannotations.h
  src/cider/util/CMakeLists.txt
Labels: infra

#269 [POAE7-2716] non-groupby agg fetch result
  src/cider/benchmarks/JITlibBenchmark.cpp
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/context/RuntimeContext.cpp
  src/cider/exec/nextgen/context/RuntimeContext.h
  src/cider/exec/nextgen/operators/AggregationNode.cpp
  src/cider/exec/nextgen/operators/CMakeLists.txt
  src/cider/exec/nextgen/operators/extractor/AggExtractor.h
  src/cider/exec/nextgen/operators/extractor/AggExtractorBuilder.cpp
  src/cider/exec/nextgen/operators/extractor/AggExtractorBuilder.h
  src/cider/exec/nextgen/utils/TypeUtils.h
  src/cider/tests/CiderNewHashTableTest.cpp
  src/cider/tests/benchmark/ArrowDataReader.h
  src/cider/tests/nextgen/compiler/AggTest.cpp
  src/cider/type/data/sqltypes.h
  src/cider/type/plan/StringOpExpr.h
  src/cider/util/sqldefs.h
Labels: infra

#282 [POAE7-2717] agg_support_null_optimization
  src/cider/exec/nextgen/context/RuntimeContext.cpp
  src/cider/exec/nextgen/operators/AggregationNode.cpp
  src/cider/exec/nextgen/operators/OperatorRuntimeFunctions.h
  src/cider/exec/nextgen/operators/extractor/AggExtractor.h
  src/cider/tests/nextgen/compiler/AggTest.cpp
Labels: infra

#278 [POAE7-2743]update protobuf to 3.21.4 and install nasm
  ci/docker/Dockerfile
  ci/docker/Dockerfile.centos-8
  ci/docker/Dockerfile.ubuntu-20.04
  ci/docker/install.sh
  ci/docker/scripts-presto/velox/scripts/setup-ubuntu.sh
Labels: CICD

#270 [POAE7-2679] CodegenContext Register Hashtable
  src/cider/exec/nextgen/CMakeLists.txt
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/context/RuntimeContext.cpp
  src/cider/exec/nextgen/context/RuntimeContext.h
  src/cider/tests/nextgen/compiler/ContextTest.cpp
Labels: infra

#291 [POAE7-2753]Optimize CICD process
  .github/workflows/main.yml
  ci/scripts/presto-integration.sh
Labels: CICD

#283 [POAE7-2745] Add Target Information to LLVMJITModule
  src/cider/exec/nextgen/jitlib/CMakeLists.txt
  src/cider/exec/nextgen/jitlib/base/JITModule.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITTargets.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITTargets.h
Labels: infra

#288 [POAE7-2752] Enable cpplint of cider/common
  ci/scripts/lint_exclusions.txt
  ci/scripts/lint_inclusions.txt
  src/cider/common/hashtable/FixedHashMap.h
  src/cider/common/hashtable/FixedHashTable.h
  src/cider/common/hashtable/Hash.h
  src/cider/common/hashtable/HashMap.h
  src/cider/common/hashtable/HashTable.h
Labels: CICD
