Repository intel/BDTK, pull requests merged in 2022-10, with the labels that each got.

#43 [POAE7-2263] Unsupport tinyint and smallint simple qual filter
  cider/exec/plan/parser/Translator.cpp
  cider/tests/functionality/CiderGroupByTest.cpp
Labels: bug, test, cider

#48 [POAE7-2380] [HotFix] Groupby HashTable Code Refactor and Bugfix
  cider/exec/operator/aggregate/CiderAggHashTable.cpp
  cider/exec/operator/aggregate/CiderAggHashTable.h
  cider/exec/template/TargetExprBuilder.cpp
Labels: cider

#52 [POAE7-2386] data converter support constant encoding
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/test/DataConvertorTest.cpp
Labels: velox_plugin, test

#53 [POAE7-2157] [Cider test development] TIMESTAMP/INTERVAL DAY TO SECOND/INTERVAL YEAR TO MONTH
  cider/include/cider/CiderTypes.h
  cider/tests/functionality/DateTypeQueryTest.cpp
  cider/tests/substrait_plan_files/add_timestamp_interval_mixed.json
Labels: test, cider, API

#55 [POAE7-2391] Fix bug of PlanPattern write race under multi-threading
  cider-velox/src/CiderVeloxPluginCtx.cpp
  cider-velox/src/CiderVeloxPluginCtx.h
  cider-velox/src/ciderTransformer/CiderPlanPatterns.h
  cider-velox/src/planTransformer/PatternRewriter.h
  cider-velox/src/planTransformer/PlanBranches.cpp
  cider-velox/src/planTransformer/PlanNodeAddr.cpp
  cider-velox/src/planTransformer/PlanNodeAddr.h
  cider-velox/src/planTransformer/PlanTransformer.cpp
  cider-velox/src/planTransformer/PlanTransformer.h
  cider-velox/src/planTransformer/PlanUtil.cpp
  cider-velox/src/planTransformer/SequencePlanPattern.h
  cider-velox/test/e-2-e/presto/queries/tpch/q16.sql
Labels: velox_plugin

#51 [POAE7-2260] add more test for coalesce
  cider/tests/functionality/CiderCaseWhenTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
Labels: test

#56 [POAE7-2385]incorrect filter result because of null varchar and len 0 varchar
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/utils/QueryDataGenerator.h
Labels: bug

#40 [POAE7-2378] Add support for using non-encoded string's function in filter
  cider/exec/plan/parser/ParserNode.cpp
  cider/exec/plan/parser/ParserNode.h
  cider/exec/template/DeepCopyVisitor.h
  cider/exec/template/ExpressionRewrite.cpp
  cider/exec/template/ScalarExprVisitor.h
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/functions/date/extract_year_cast_string_to_date.json
  cider/tests/substrait_plan_files/functions/date/string_to_date.json
Labels: bug, test, cider

#49 [POAE7-2384] change CiderTableSchema to shared_ptr in CiderCompilationResults
  cider-velox/src/CiderOperator.cpp
  cider-velox/test/AggWithRandomDataTest.cpp
  cider/exec/module/CiderCompilationResultImpl.h
  cider/exec/module/CiderCompileModule.cpp
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/plan/parser/SubstraitToRelAlgExecutionUnit.cpp
  cider/exec/plan/parser/SubstraitToRelAlgExecutionUnit.h
  cider/include/cider/CiderCompileModule.h
  cider/tests/CiderAggTestHelper.h
  cider/tests/CiderNongroupbyAggTestHelper.h
  cider/tests/CiderRuntimeModuleTest.cpp
  cider/tests/CompileWorkUnitTest.cpp
  cider/tests/Substrait2IRTest.cpp
  cider/tests/utils/CiderBenchmarkRunner.cpp
  cider/tests/utils/CiderQueryRunner.cpp
  cider/tests/utils/QueryDataGenerator.h
  docs/CiderAllocator-use-guide.rst
Labels: documentation, velox_plugin, test, cider, API

#59 [POAE7-2371] PlanTransformer: Change clone velox plan nodes to const_…
  cider-velox/src/planTransformer/PlanRewriter.cpp
  cider-velox/src/planTransformer/PlanTransformer.cpp
  cider-velox/src/planTransformer/PlanTransformer.h
  cider-velox/src/planTransformer/PlanUtil.cpp
  cider-velox/src/planTransformer/PlanUtil.h
  cider-velox/test/CiderOperatorTest.cpp
  cider-velox/test/planTransformerTest/utils/FilterProjectSwapTransformer.cpp
Labels: velox_plugin, test

#68 [POAE7-2408] Replace folly::split of function look up
  cider/function/substrait/CMakeLists.txt
  cider/function/substrait/SubstraitFunctionLookup.cpp
  cider/function/substrait/SubstraitSignature.cpp
  cider/tests/utils/CiderQueryRunner.h
Labels: bug, test, cider

#63 [POAE7-2404] Modify the Substrait::Type pass by reference
  cider-velox/src/ArrowDataConvertor.cpp
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/src/TypeConversions.h
  cider-velox/test/AggWithRandomDataTest.cpp
  cider/exec/module/CiderRuntimeModule.cpp
  cider/include/cider/CiderTableSchema.h
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/util/measure.h
Labels: velox_plugin, test, cider, API

#54 [POAE7-2388] change join hash table building to single thread and update previous tests
  ci/docker/scripts-cider/cider-deps-ubuntu.sh
  cider/exec/template/operator/join/hashtable/BaselineJoinHashTable.cpp
  cider/exec/template/operator/join/hashtable/OverlapsJoinHashTable.cpp
  cider/exec/template/operator/join/hashtable/RangeJoinHashTable.cpp
  cider/exec/template/operator/join/hashtable/builders/BaselineHashTableBuilder.h
  cider/exec/template/operator/join/hashtable/builders/PerfectHashTableBuilder.h
  cider/tests/functionality/CiderHashJoinTest.cpp
  cider/tests/utils/CiderTestBase.cpp
Labels: CICD, test, cider

#61 [POAE7-2402] add test case for substr wrapped with BinOp outside
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/in_string_nest_with_binop.json
Labels: test

#60 [POAE7-2333] Arrow based batch test framework
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/operator/aggregate/CiderAggTargetColExtractorBuilder.cpp
  cider/exec/template/CountDistinct.h
  cider/exec/template/NativeCodegen.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/include/cider/batch/CiderBatchUtils.h
  cider/include/cider/batch/ScalarBatch.h
  cider/include/cider/batch/StructBatch.h
  cider/tests/CiderAggHashTableTest.cpp
  cider/tests/CiderAggTestHelper.h
  cider/tests/CiderArrowBatchTest.cpp
  cider/tests/CiderNongroupbyAggTestHelper.h
  cider/tests/functionality/CiderFilterTest.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchChecker.h
  cider/tests/utils/CiderQueryRunner.cpp
  cider/tests/utils/CiderQueryRunner.h
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider, API

#70 [POAE7-2432] Fix Old CiderBatch Memory Allocation for Group-By Result Fetching
  cider/exec/module/CiderRuntimeModule.cpp
  cider/tests/CiderLogTest.cpp
  cider/util/Logger.cpp
  cider/util/Logger.h
Labels: cider

#67 [POAE7-2400] DuckDB output to Arrow-format CiderBatch
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunner.h
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
Labels: test

#58 [POAE7-2401]modify presto documenttation
  ci/scripts/build-presto-package.sh
  docs/CiderAllocator-use-guide.rst
  docs/cider-in-10-min.rst
  docs/develop-guide.rst
  docs/syntax-support.rst
  docs/user-guide.rst
Labels: documentation

#76 [POAE7-2443] call loadedVector if DictionaryVector is a lazy vector
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/src/TypeConversions.h
  cider-velox/test/e-2-e/presto/queries/tpch/q16.sql
  cider-velox/test/e-2-e/presto/queries/tpch/q21.sql
  cider/type/schema/CiderSchemaProvider.cpp
Labels: velox_plugin, test, cider

#71 [POAE7-2393] Add centos build support
  CMakeLists.txt
  ci/docker/Dockerfile.centos-8
  ci/docker/Dockerfile.ubuntu-20.04
  ci/docker/build-image.sh
  ci/docker/install.sh
  ci/docker/llvm-9-glibc-2.31-708430-remove-cyclades.patch
  cider/exec/operator/aggregate/CiderAggSpillBufferMgr.cpp
Labels: CICD, cider

#72 [POAE7-2435] fix col name
  cider/exec/plan/parser/PlanRelVisitor.cpp
  cider/exec/plan/parser/PlanRelVisitor.h
  cider/exec/plan/parser/RelVisitor.cpp
  cider/exec/plan/parser/RelVisitor.h
  cider/exec/plan/parser/SubstraitToRelAlgExecutionUnit.cpp
  cider/exec/plan/parser/VariableContext.cpp
  cider/exec/plan/parser/VariableContext.h
Labels: bug, cider

#81 [POAE7-2316] Convert vector<VectorPtr> to CiderBatch
  cider-velox/src/CiderJoinBuild.cpp
  cider-velox/src/CiderJoinBuild.h
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/CiderOperator.h
  cider-velox/test/CiderOperatorJoinTest.cpp
Labels: velox_plugin, test

#73 [POAE7-2406] support date function
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/template/CodeGenerator.h
  cider/exec/template/DateTimeIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/operator/aggregate/CiderAggregateCodeGenerator.cpp
  cider/tests/CMakeLists.txt
  cider/tests/CiderAggTestHelper.h
  cider/tests/CiderDateFunctionTest.cpp
  cider/tests/functionality/DateTypeQueryTest.cpp
Labels: bug, test, cider

#64 [POAE7-2382] add cider feature user-guide doc and reorg dev-guide doc
  docs/cider-in-10-min.rst
  docs/develop.rst
  docs/develop/CiderAllocator-use-guide.rst
  docs/develop/contributing.rst
  docs/develop/debugging.rst
  docs/develop/development-specification.rst
  docs/develop/logger.rst
  docs/develop/syntax-support.rst
  docs/index.rst
  docs/user.rst
  docs/user/data-type.rst
  docs/user/function-support.rst
  docs/user/quick-start.rst
Labels: documentation

#77 [POAE7-2454] ::duckdb::QueryResult::GetConfigTimezone not found when CIDER_ENABLE_DUCKDB enabled
  cider/tests/utils/CMakeLists.txt
  cider/tests/utils/DuckDbArrowAdaptor.cpp
  cider/tests/utils/DuckDbArrowAdaptor.h
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunner.h
Labels: bug, test

#83 [POAE7-2396]QueryDataGenerator using arrowArray/schema
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/ArrowArrayBuilderTest.cpp
  cider/tests/utils/CMakeLists.txt
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/tests/utils/QueryArrowDataGeneratorTest.cpp
Labels: test

#69 [POAE7-2413] Support complex data print in CiderBatch
  cider/include/cider/batch/CiderBatch.h
Labels: cider, API

#82 [POAE7-2453]directly support presto date extract functions
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.h
  cider/exec/template/DateTimeTranslator.cpp
  cider/exec/template/DateTimeTranslator.h
  cider/function/datetime/ExtractFromTime.h
  cider/tests/functionality/DateTypeQueryTest.cpp
  cider/tests/substrait_plan_files/functions/date/day.json
  cider/tests/substrait_plan_files/functions/date/day_of_week.json
  cider/tests/substrait_plan_files/functions/date/day_of_year.json
  cider/tests/substrait_plan_files/functions/date/month.json
  cider/tests/substrait_plan_files/functions/date/quarter.json
  cider/tests/substrait_plan_files/functions/date/week.json
Labels: test, cider, codeRefactor

#91 [POAE7-2464] turn on multi-threading drivers
  cider-velox/src/CiderPlanNodeTranslator.h
Labels: velox_plugin

#89 [POAE7-2433] Added HDFS adapter scripts and initialized user guide.
  ci/scripts/integrate-presto-cider.sh
  ci/scripts/setup-adapters.sh
  docs/user/quick-start.rst
Labels: documentation, CICD

#90 [POAE7-2459] DuckDb and CiderChecker UT migration to Arrow format
  cider/exec/module/batch/CiderBatch.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchChecker.h
  cider/tests/utils/CiderBatchCheckerTest.cpp
  cider/tests/utils/CiderBatchStringifier.cpp
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunner.h
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
  cider/tests/utils/Utils.h
  cider/util/CiderBitUtils.h
Labels: test, cider

#80 [POAE7-2455] Add a tool to dump substrait plan, llvm ir and llvm cfg
  cider/exec/module/CiderOptions.cpp
  cider/exec/template/CompilationOptions.h
  cider/exec/template/NativeCodegen.cpp
  cider/include/cider/CiderOptions.h
  cider/tests/CMakeLists.txt
  cider/tests/Sql2IR.cpp
  docs/develop.rst
  docs/develop/utils.rst
Labels: test, cider, API, infra

#78 [POAE7-2308] Transformer support multi-source Cider plan
  cider-velox/src/ciderTransformer/CiderPlanUtil.cpp
  cider-velox/src/planTransformer/PlanBranches.h
  cider-velox/src/planTransformer/PlanUtil.h
Labels: velox_plugin

#94 [POAE7-2465]Support BOOL for arrow format
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/ArrowArrayBuilderTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/tests/utils/QueryArrowDataGeneratorTest.cpp
Labels: test

#97 [POAE7-2417] Support NotNull Ops for Arrow Format and some fix
  cider/tests/functionality/CiderFilterTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
Labels: test

#92 [POAE7-2468] update gh-pages build rule
  .github/workflows/update-gh-pages.yml
Labels: CICD

#105 [POAE7-2486] Modified user guide and integration scripts for release 0.9.0
  ci/scripts/build-presto-package.sh
  ci/scripts/integrate-presto-cider.sh
  ci/scripts/setup-libhdfs.sh
  docs/user/quick-start.rst
Labels: documentation, CICD

#104 [POAE7-2482] Modify BOOL Related Codegen to Support bit-packed BOOL in Arrow Format.
  cider/exec/template/Codec.cpp
  cider/exec/template/Codec.h
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/operator/aggregate/CiderAggregateCodeGenerator.cpp
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/include/cider/batch/ScalarBatch.h
  cider/tests/CiderAggHashTableTest.cpp
  cider/tests/CiderAggTestHelper.h
  cider/tests/CiderArrowBatchTest.cpp
Labels: test, cider, API

#85 [POAE7-2416] In Ops using Arrow Format
  cider/exec/template/ArithmeticIR.cpp
  cider/exec/template/CodeGenerator.h
  cider/exec/template/CompareIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/InValuesBitmap.cpp
  cider/exec/template/InValuesBitmap.h
  cider/exec/template/InValuesIR.cpp
  cider/function/scalar/RuntimeFunctions.cpp
  cider/tests/functionality/CiderFilterTest.cpp
Labels: test, cider

#93 [POAE7-2363]PartialAggPattern support
  cider-velox/src/ciderTransformer/CiderPlanPatterns.cpp
  cider-velox/src/ciderTransformer/CiderPlanPatterns.h
  cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.cpp
  cider-velox/src/planTransformer/PatternRewriter.h
  cider-velox/test/CiderOperatorTest.cpp
Labels: velox_plugin, test

#99 [POAE7-2399] [M2 Integration] velox to substrait join transform support
  cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.cpp
  cider-velox/src/substrait/VeloxPlanFragmentToSubstraitPlan.cpp
  cider-velox/src/substrait/VeloxPlanFragmentToSubstraitPlan.h
  cider-velox/test/CMakeLists.txt
  cider-velox/test/CiderOperatorHashJoinTest.cpp
  cider-velox/test/CiderOperatorJoinTest.cpp
Labels: velox_plugin, test

#110 [POAE7-2466]support VARCHAR data generation for arrow format
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/include/cider/batch/CiderBatchUtils.h
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/ArrowArrayBuilderTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/tests/utils/QueryArrowDataGeneratorTest.cpp
Labels: test, cider, API

#87 [POAE7-2458] support date convert and test(old data format)
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/test/DataConvertorTest.cpp
Labels: velox_plugin, test

#101 [POAE7-2469] arrow bool support for DuckDbRunner and CiderBatchChecker
  cider/tests/CiderArrowBatchTest.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchCheckerTest.cpp
  cider/tests/utils/CiderBatchStringifier.cpp
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
  cider/tests/utils/Utils.h
Labels: test, cider, API

#86 [POAE7-2461] Preparing BDTK release v0.9
  CMakeLists.txt
  README.md
  cider/exec/module/CMakeLists.txt
Labels: velox_plugin, cider

#107 [POAE7-2488] Fix for select the correct gcc toolchain
  cider/function/CMakeLists.txt
Labels: cider

#95 [POAE7-2415] codegen string using Arrow format
  cider/exec/module/batch/CiderArrowBufferHolder.cpp
  cider/exec/module/batch/CiderArrowBufferHolder.h
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/plan/parser/TypeUtils.h
  cider/exec/template/CodeGenerator.h
  cider/exec/template/Codec.cpp
  cider/exec/template/Codec.h
  cider/exec/template/CodegenColValues.h
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/CompareIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/TargetExprBuilder.cpp
  cider/exec/template/operator/aggregate/CiderAggregateCodeGenerator.cpp
  cider/exec/template/operator/aggregate/CiderAggregateCodeGenerator.h
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/function/scalar/DecodersImpl.h
  cider/function/scalar/RuntimeFunctions.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/include/cider/batch/ScalarBatch.h
  cider/tests/CiderArrowBatchTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider, API

#100 [POAE7-2460] Transform non-groupby-agg result to Arrow Format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/include/cider/batch/CiderBatchUtils.h
  cider/tests/CiderNongroupbyAggTest.cpp
  cider/tests/functionality/CiderAggTest.cpp
Labels: test, cider, API
