Repository intel/BDTK, pull requests merged in 2022-11, with the labels that each got.

#109 [POAE7-2387] Support Inner Join for Arrow Format
  .gitignore
  cider/exec/module/CiderCompileModule.cpp
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/operator/join/hashtable/BaselineJoinHashTable.cpp
  cider/exec/template/operator/join/hashtable/HashJoin.cpp
  cider/exec/template/operator/join/hashtable/HashJoin.h
  cider/exec/template/operator/join/hashtable/PerfectJoinHashTable.cpp
  cider/exec/template/operator/join/hashtable/runtime/HashJoinRuntime.cpp
  cider/function/aggregate/GroupByRuntime.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/tests/functionality/CiderHashJoinTest.cpp
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/CiderQueryRunner.cpp
  cider/tests/utils/CiderQueryRunner.h
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
  cider/util/memory/CiderArrowDataProvider.h
Labels: test, cider, API, codeRefactor

#115 [POAE7-2509] UT framework support for 128-bit DECIMALs
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/tests/utils/CMakeLists.txt
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchStringifier.cpp
  cider/tests/utils/CiderBatchStringifier.h
  cider/tests/utils/CiderInt128.cpp
  cider/tests/utils/CiderInt128.h
  cider/tests/utils/CiderInt128Test.cpp
  cider/tests/utils/DuckDbArrowAdaptor.cpp
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
Labels: test, cider, API

#118 [POAE7-2513][BUG]add step for first build thrift
  ci/docker/scripts-cider/cider-deps-ubuntu.sh
Labels: bug, CICD

#116 [POAE7-2470] Arrow STRING/VARCHAR support for DuckDb runner & CiderBatchChecker
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchChecker.h
  cider/tests/utils/CiderBatchCheckerTest.cpp
  cider/tests/utils/CiderBatchStringifier.cpp
  cider/tests/utils/CiderBatchStringifier.h
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/DuckDbQueryRunnerTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/tests/utils/Utils.h
Labels: test, cider

#114 [POAE7-2481] JITValue Arithmetic Operations Support
  Makefile
  cider/exec/nextgen/CMakeLists.txt
  cider/exec/nextgen/jitlib/CMakeLists.txt
  cider/exec/nextgen/jitlib/JITLib.h
  cider/exec/nextgen/jitlib/base/JITControlFlow.h
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITModule.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/jitlib/base/JITValues.h
  cider/exec/nextgen/jitlib/base/ValueTypes.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITUtils.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider, infra

#122 [POAE7-2479] Use CiderBatch as data type for join bridge to bypass existing Velox memory ownership mechnism
  cider-velox/src/CiderJoinBuild.cpp
  cider-velox/src/CiderJoinBuild.h
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/CiderOperator.h
  cider-velox/test/CiderOperatorHashJoinTest.cpp
Labels: velox_plugin, test

#117 [POAE7-2484] Support postJoinFilter in Substrait2EU module
  cider/exec/plan/parser/PlanRelVisitor.cpp
  cider/tests/functionality/CiderHashJoinTest.cpp
  cider/tests/substrait_plan_files/post_join_filter1.json
  cider/tests/substrait_plan_files/post_join_filter2.json
Labels: test, cider

#125 [POAE7-2525] [Code Refactor] [Cider-Velox] Code refactor to passing references with const qualifier instead of passing value for memory consideration
  cider-velox/src/CiderPlanNode.h
  cider-velox/src/CiderPlanNodeTranslator.h
  cider-velox/src/RawDataConvertor.cpp
  cider-velox/src/TypeConversions.h
  cider-velox/src/ciderTransformer/CiderPlanPatterns.cpp
  cider-velox/src/ciderTransformer/CiderPlanPatterns.h
  cider-velox/src/ciderTransformer/CiderPlanRewriter.cpp
  cider-velox/src/ciderTransformer/CiderPlanRewriter.h
  cider-velox/src/ciderTransformer/CiderPlanUtil.cpp
  cider-velox/src/ciderTransformer/CiderPlanUtil.h
  cider-velox/src/planTransformer/PatternRewriter.h
  cider-velox/src/planTransformer/PlanBranches.cpp
  cider-velox/src/planTransformer/PlanBranches.h
  cider-velox/src/planTransformer/PlanNodeAddr.cpp
  cider-velox/src/planTransformer/PlanNodeAddr.h
  cider-velox/src/planTransformer/PlanPattern.cpp
  cider-velox/src/planTransformer/PlanPattern.h
  cider-velox/src/planTransformer/PlanRewriter.cpp
  cider-velox/src/planTransformer/PlanRewriter.h
  cider-velox/src/planTransformer/PlanTransformer.cpp
  cider-velox/src/planTransformer/PlanTransformer.h
  cider-velox/src/planTransformer/PlanUtil.cpp
  cider-velox/src/planTransformer/PlanUtil.h
  cider-velox/src/planTransformer/SequencePlanPattern.cpp
  cider-velox/src/planTransformer/SequencePlanPattern.h
Labels: velox_plugin

#121 [POAE7-2428]verify Primitive Type for Arrow Format
  cider/exec/module/batch/CiderBatch.cpp
  cider/include/cider/batch/CiderBatch.h
  cider/tests/CiderArrowBatchTest.cpp
  cider/tests/functionality/PrimitiveTypeArrowTest.cpp
  cider/tests/functionality/PrimitiveTypeQueryArrowTest.cpp
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/ArrowArrayBuilderTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
Labels: test, cider, API

#130 [POAE7-2529] fix some codes of macros define
  cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.h
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/template/BufferEntryUtils.h
  cider/exec/template/CompareKeysInl.h
  cider/exec/template/QueryMemoryInitializer.cpp
  cider/exec/template/ResultSet.cpp
  cider/exec/template/common/descriptors/QueryMemoryDescriptor.cpp
  cider/function/FunctionHelper.h
  cider/function/SubstraitFunctionCiderMappings.h
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/function/aggregate/GroupByRuntime.cpp
  cider/function/datetime/DateTruncate.cpp
  cider/function/hash/MurmurHash3Inl.h
  cider/function/scalar/RuntimeFunctions.cpp
  cider/function/scalar/RuntimeFunctions.h
  cider/function/scalar/TopKRuntime.cpp
  cider/function/substrait/SubstraitType.cpp
  cider/function/substrait/SubstraitType.h
Labels: velox_plugin, cider

#108 [POAE7-2424] Arrow Support for FunctionOper
  cider/exec/template/CodeGenerator.h
  cider/exec/template/ExtensionsIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/tests/functionality/ScalarFunctionExprTest.cpp
Labels: test, cider

#120 [POAE7-2425] add error-check flow for Arith codegen with Arrow and verify proj op
  cider/exec/template/ArithmeticIR.cpp
  cider/exec/template/CastIR.cpp
  cider/exec/template/CodeGenerator.h
  cider/tests/functionality/CiderMathOpTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider

#126 [POAE7-2526] Fix Non Groupby Agg Arrow Format null value.
  cider/exec/module/batch/CiderBatchUtils.cpp
Labels: bug, cider

#132 [POAE7-2423] add distinct from support and update filter Op tests for Arrow
  cider/exec/template/CompareIR.cpp
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/tests/functionality/CiderFilterTest.cpp
Labels: test, cider

#128 [POAE7-2528] JITValue Compare and Logical Operations Support
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider, infra

#140 [POAE7-2456] Support Case/IF Function for Arrow Format with Cast Func…
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/tests/functionality/CiderCaseWhenTest.cpp
Labels: test, cider

#113 [POAE7-2487] support arrow date32(days) format in cider
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/template/CastIR.cpp
  cider/exec/template/CodeGenerator.h
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/ConstantIR.cpp
  cider/exec/template/DateTimeIR.cpp
  cider/exec/template/Execute.h
  cider/exec/template/IRCodegen.cpp
  cider/exec/template/operator/aggregate/CiderAggregateCodeGenerator.cpp
  cider/tests/CMakeLists.txt
  cider/tests/CiderDateFunctionTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/functionality/DateTypeQueryTest.cpp
  cider/tests/functionality/ScalarFunctionExprTest.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchStringifier.cpp
  cider/tests/utils/DuckDbQueryRunner.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/type/data/sqltypes.h
  cider/util/SqlTypesLayout.h
  docs/develop/syntax-support.rst
  docs/user/data-type.rst
Labels: documentation, test, cider

#127 [POAE7-2483] ForEach and IF Control Flow Support
  cider/exec/nextgen/jitlib/CMakeLists.txt
  cider/exec/nextgen/jitlib/JITLib.h
  cider/exec/nextgen/jitlib/base/JITControlFlow.h
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider

#135 [POAE7-2531] Support Groupby String for Arrow Format
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
  cider/exec/plan/parser/TypeUtils.h
  cider/exec/template/Execute.h
  cider/exec/template/GroupByAndAggregate.cpp
  cider/exec/template/IRCodegen.cpp
  cider/function/aggregate/GroupByRuntime.cpp
  cider/include/cider/batch/ScalarBatch.h
  cider/tests/functionality/CiderGroupByTest.cpp
  cider/tests/utils/CiderTestBase.cpp
Labels: test, cider

#143 [POAE7-2531] [HOTFIX] Fix conflicts with POAE7-2490
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
Labels: cider

#138 [POAE7-2522] Support JITTuple
  cider/exec/nextgen/jitlib/JITLib.h
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITTuple.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/ValueTypes.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider, infra

#141 [POAE7-2527] Support Left-join for Arrow format
  cider/exec/template/CodeGenerator.h
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/tests/functionality/CiderHashJoinTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
Labels: test, cider

#139 [POAE7-2532] IR Optimization Options Support
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
Labels: cider, infra

#151 [POAE7-2514] Fixed bugs and support HDFS in packaging
  ci/scripts/build-presto-package.sh
Labels: CICD

#142 [POAE7-2521] JITPointer Operations Support.
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITUtils.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: test, cider

#133 [POAE7-2512] cast func numeric type support with arrow format
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/template/CastIR.cpp
  cider/exec/template/CodeGenerator.h
  cider/exec/template/ColumnIR.cpp
  cider/function/scalar/RuntimeFunctions.cpp
  cider/tests/functionality/CiderCastTest.cpp
  cider/tests/functionality/CiderFilterTest.cpp
Labels: test, cider, codeRefactor

#149 [POAE7-2427] Verify Groupby Expr for Arrow Format
  cider/tests/functionality/CiderGroupByTest.cpp
Labels: test

#150 [POAE7-2426] verify Agg Ops for Arrow Format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/tests/functionality/CiderAggArrowTest.cpp
Labels: test, cider

#148 [POAE7-2535] Support Case/IF Function for Arrow Format with Null value
  cider/exec/module/batch/CiderBatch.cpp
  cider/exec/template/CaseIR.cpp
  cider/tests/functionality/CiderCaseWhenTest.cpp
Labels: test, cider

#144 [POAE7-2534] Add string IN and nested substring support for arrow format.
  cider/exec/operator/aggregate/CiderAggHashTable.h
  cider/exec/template/CodeGenerator.h
  cider/exec/template/CompareIR.cpp
  cider/exec/template/InValuesIR.cpp
  cider/exec/template/StringOpsIR.cpp
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/utils/CiderBatchChecker.cpp
  cider/tests/utils/CiderBatchChecker.h
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider

#153 [POAE7-2573] refine BDTK doc structure
  README.md
  docs/cider-in-10-min.rst
  docs/cider-sharing.rst
  docs/develop.rst
  docs/develop/CiderAllocator-use-guide.rst
  docs/develop/contributing.rst
  docs/develop/debugging.rst
  docs/develop/development-specification.rst
  docs/develop/logger.rst
  docs/index.rst
  docs/user.rst
  docs/user/feature-type.rst
  docs/user/feature/agg-func.rst
  docs/user/feature/condition-expr.rst
  docs/user/feature/conversion-func.rst
  docs/user/feature/data-type.rst
  docs/user/feature/logic-cmp-op.rst
  docs/user/feature/math-func.rst
  docs/user/feature/string-func.rst
  docs/user/feature/syntax-support.rst
  docs/user/feature/time-func.rst
  docs/user/quick-start.rst
  docs/user/utils.rst
Labels: documentation

#147 [POAE7-2544] String LOWER/UPPER op support for Arrow format
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_lower.json
  cider/tests/substrait_plan_files/stringop_lower_condition.json
  cider/tests/substrait_plan_files/stringop_lower_condition_null.json
  cider/tests/substrait_plan_files/stringop_lower_constexpr_null.json
  cider/tests/substrait_plan_files/stringop_lower_literal.json
  cider/tests/substrait_plan_files/stringop_lower_literal_null.json
  cider/tests/substrait_plan_files/stringop_lower_null.json
  cider/tests/substrait_plan_files/stringop_upper.json
  cider/tests/substrait_plan_files/stringop_upper_condition.json
  cider/tests/substrait_plan_files/stringop_upper_condition_null.json
  cider/tests/substrait_plan_files/stringop_upper_constexpr_null.json
  cider/tests/substrait_plan_files/stringop_upper_literal.json
  cider/tests/substrait_plan_files/stringop_upper_literal_null.json
  cider/tests/substrait_plan_files/stringop_upper_null.json
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
Labels: test, cider

#152 [POAE7-2439] Support Coalesce Function for Arrow Format
  cider/tests/functionality/CiderCaseWhenTest.cpp
  cider/tests/functionality/CiderCastTest.cpp
Labels: test, cider, codeRefactor

#154 [POAE7-2514][Hot fix] Added libs to packaging scripts.
  ci/scripts/build-presto-package.sh
Labels: CICD

#163 [ Hotfix ] Correct bit width calculation for logical size considering old and new data format
  cider/exec/template/StringOpsIR.cpp
Labels: cider

#164 [POAE7-2574] verify PartialAVG for arrow format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/include/cider/CiderTableSchema.h
  cider/tests/functionality/CiderAggArrowTest.cpp
  cider/tests/substrait_plan_files/avg_all_null_partial.json
  cider/tests/substrait_plan_files/avg_with_null_partial.json
  cider/tests/substrait_plan_files/multi_fp_avg_partial.json
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider, API

#146 [POAE7-2419] support extract for arrow format
  cider/exec/template/CodeGenerator.h
  cider/exec/template/DateTimeIR.cpp
  cider/function/datetime/ExtractFromTime.cpp
  cider/function/datetime/ExtractFromTime.h
  cider/tests/functionality/DateTypeQueryTest.cpp
  cider/tests/substrait_plan_files/extract/day_of_week_not_null.json
  cider/tests/substrait_plan_files/extract/day_of_year_not_null.json
  cider/tests/substrait_plan_files/extract/iso_day_of_week_not_null.json
  cider/tests/substrait_plan_files/extract/quarter_not_null.json
Labels: test, cider

#172 [POAE7-2593][hot fix] Fix substr issue due to velox version upgrade.
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/substr.json
  cider/util/sqldefs.h
Labels: test, cider

#161 [POAE7-2575] Support Groupby Bool for Arrow Format
  cider/exec/operator/aggregate/CiderAggTargetColExtractorBuilder.cpp
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
  cider/tests/functionality/CiderGroupByTest.cpp
Labels: test, cider

#162 [POAE7-2585]add presto depend
  ci/scripts/build-presto-package.sh
Labels: CICD

#160 [POAE7-2584] Enable Arrow data format in output convertor leveraging Velox Arrow bridge
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/CiderStatelessOperator.cpp
Labels: velox_plugin, infra

#167 [POAE7-2559] Scalar Function String Op: TRIM
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/function/string/StringOps.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_ltrim_1.json
  cider/tests/substrait_plan_files/stringop_ltrim_2.json
  cider/tests/substrait_plan_files/stringop_ltrim_literal.json
  cider/tests/substrait_plan_files/stringop_ltrim_nested_1.json
  cider/tests/substrait_plan_files/stringop_ltrim_nested_2.json
  cider/tests/substrait_plan_files/stringop_rtrim_1.json
  cider/tests/substrait_plan_files/stringop_rtrim_2.json
  cider/tests/substrait_plan_files/stringop_rtrim_literal.json
  cider/tests/substrait_plan_files/stringop_rtrim_nested_1.json
  cider/tests/substrait_plan_files/stringop_rtrim_nested_2.json
  cider/tests/substrait_plan_files/stringop_trim_1.json
  cider/tests/substrait_plan_files/stringop_trim_2.json
  cider/tests/substrait_plan_files/stringop_trim_literal_1.json
  cider/tests/substrait_plan_files/stringop_trim_literal_2.json
  cider/tests/substrait_plan_files/stringop_trim_nested_1.json
  cider/tests/substrait_plan_files/stringop_trim_nested_2.json
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
Labels: test, cider

#169 [POAE7-2579] JITFunction builder
  cider/exec/nextgen/jitlib/base/JITFunction.h
  cider/exec/nextgen/jitlib/base/JITModule.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  cider/tests/nextgen/jitlib/JITLibTest.cpp
  cider/tests/nextgen/translator/FilterProjectTest.cpp
Labels: test, cider, infra

#174 [POAE7-2595]Change the presto repository to prestodb
  ci/scripts/build-presto-package.sh
  ci/scripts/presto-bdtk-9dbb0f9.patch
  docs/user/quick-start.rst
Labels: documentation, CICD

#166 [POAE7-2580]Arrow format test migration
  cider/tests/functionality/CiderConstantQueryTest.cpp
  cider/tests/functionality/CiderFilterTest.cpp
  cider/tests/functionality/CiderGroupByTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/functionality/SimpleCiderTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test

#176 [POAE7-2595]modify patch path
  ci/scripts/build-presto-package.sh
Labels: CICD

#137 [POAE7-2434] Migrate substrait-cpp of function lookup
  .gitmodules
  CMakeLists.txt
  cider/exec/plan/parser/CMakeLists.txt
  cider/function/CMakeLists.txt
  cider/function/FunctionLookupEngine.cpp
  cider/function/FunctionLookupEngine.h
  cider/function/SubstraitFunctionCiderMappings.h
  cider/function/substrait/CMakeLists.txt
  cider/function/substrait/SubstraitExtension.cpp
  cider/function/substrait/SubstraitExtension.h
  cider/function/substrait/SubstraitFunction.cpp
  cider/function/substrait/SubstraitFunction.h
  cider/function/substrait/SubstraitFunctionLookup.cpp
  cider/function/substrait/SubstraitFunctionLookup.h
  cider/function/substrait/SubstraitFunctionMappings.h
  cider/function/substrait/SubstraitSignature.cpp
  cider/function/substrait/SubstraitSignature.h
  cider/function/substrait/SubstraitType.cpp
  cider/function/substrait/SubstraitType.h
  cider/function/substrait/VeloxToSubstraitMappings.h
  cider/function/substrait/extensions/functions_arithmetic.yaml
  cider/function/substrait/extensions/functions_arithmetic_decimal.yaml
  cider/function/substrait/extensions/functions_comparison.yaml
  cider/function/substrait/extensions/unknown.yaml
  cider/tests/CiderCompileModuleTest.cpp
  cider/tests/functionality/FunctionLookUpTest.cpp
  cmake-modules/substrait-cpp.cmake
Labels: test, cider, codeRefactor

#171 [POAE7-2582] support loop join for arrow format
  cider/exec/template/ColumnIR.cpp
  cider/exec/template/IRCodegen.cpp
  cider/tests/functionality/CiderNonEqualLoopJoinTest.cpp
  cider/tests/utils/CiderTestBase.cpp
  cider/tests/utils/CiderTestBase.h
Labels: test, cider

#178 [POAE7-2590] verify COUNT with groupby for arrow format
  cider/exec/operator/aggregate/CiderAggHashTable.cpp
  cider/exec/operator/aggregate/CiderAggHashTable.h
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
  cider/exec/template/common/descriptors/QueryMemoryDescriptor.cpp
  cider/exec/template/common/descriptors/QueryMemoryDescriptor.h
  cider/tests/functionality/CiderAggArrowTest.cpp
Labels: test, cider

#170 [POAE7-2457] Support Case/IF Function for Arrow Format with String Function
  cider/exec/template/CaseIR.cpp
  cider/tests/functionality/CiderCaseWhenTest.cpp
Labels: test, cider, codeRefactor

#155 [POAE7-2543] cast string to numeric type with arrow format in stringOps
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/template/CgenState.h
  cider/exec/template/ConstantIR.cpp
  cider/exec/template/StringOpsIR.cpp
  cider/tests/CompileWorkUnitTest.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/utils/QueryArrowDataGenerator.h
  cider/util/DateTimeParser.cpp
  cider/util/DateTimeParser.h
  cider/util/Datum.cpp
Labels: test, cider

#184 [POAE7-2602] provide arrow data format test option
  Makefile
  ci/scripts/test_with_arrow_format.sh
  cider-velox/test/CMakeLists.txt
  cider-velox/test/SubstraitTest/CMakeLists.txt
  cider-velox/test/SubstraitTest/SubstraitAggregationTest.cpp
  cider-velox/test/SubstraitTest/SubstraitVeloxPlanConverterTest.cpp
  cider-velox/test/SubstraitTest/VeloxPlanFragmentSubstraitConverterTest.cpp
Labels: CICD, test, infra

#189 [Hotfix] fix date constant value overflow caused by format migration
  cider/exec/template/CgenState.h
Labels: cider

#183 [POAE7-2581] migrate complex join tests to arrow format
  cider/tests/functionality/CiderHashJoinTest.cpp
Labels: test

#190 [POAE7-2607]Replace customer_bucketed with customer
  cider-velox/test/e-2-e/presto/queries/scalar_function.sql
Labels: test

#191 [POAE-2609]add extensions/*.ymal
  ci/scripts/build-presto-package.sh
Labels: CICD

#193 [POAE7-2607] modify table customer col ds to address
  cider-velox/test/e-2-e/presto/queries/scalar_function.sql
Labels: test

#173 [POAE7-2594] cast numeric type into string type support
  cider/exec/template/CastIR.cpp
  cider/exec/template/CodeGenerator.h
  cider/exec/template/InValuesIR.cpp
  cider/exec/template/StringOpsIR.cpp
  cider/function/aggregate/CiderRuntimeFunctions.h
  cider/tests/functionality/CiderCastTest.cpp
  cider/util/misc.cpp
  cider/util/misc.h
Labels: test, cider

#181 [POAE7-2586] Source and ColumnToRow Translator support
  cider/exec/nextgen/Context.h
  cider/exec/nextgen/jitlib/llvmjit/LLVMJITFunction.cpp
  cider/exec/nextgen/operators/ArrowSourceNode.cpp
  cider/exec/nextgen/operators/ArrowSourceNode.h
  cider/exec/nextgen/operators/CMakeLists.txt
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/ColumnToRowNode.h
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/operators/ProjectNode.cpp
  cider/exec/nextgen/operators/SourceNode.cpp
  cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  cider/function/scalar/RuntimeFunctions.cpp
  cider/function/scalar/RuntimeFunctions.h
  cider/tests/nextgen/compiler/NextgenCompilerTest.cpp
  cider/tests/nextgen/operator/CMakeLists.txt
  cider/tests/nextgen/operator/ColumnToRowTest.cpp
  cider/tests/nextgen/operator/MockRowToColumn.h
  cider/type/plan/Expr.h
Labels: test, cider, infra

#200 [Hot Fix] Update README to highlight targeted users
  README.md
  docs/images/BDTK-arch.PNG
  docs/images/Personas.PNG
Labels: documentation

#180 [POAE7-2560] Scalar function support: string concatenation
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/exec/template/ExpressionRewrite.cpp
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_concat_filter.json
  cider/tests/substrait_plan_files/stringop_concat_filter_null.json
  cider/tests/substrait_plan_files/stringop_trim_nested_3.json
  cider/tests/substrait_plan_files/stringop_upper_nested_1.json
  cider/tests/substrait_plan_files/stringop_upper_nested_2.json
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
  cider/util/sqldefs.h
Labels: test, cider

#199 [POAE7-2600] fix bug of ROW conversion it not supported yet with velo…
  cider-velox/src/ciderTransformer/CiderPlanPatterns.cpp
  cider-velox/test/CiderOperatorTest.cpp
  cider-velox/test/planTransformerTest/CiderCompoundJoinMixedTest.cpp
  cider-velox/test/planTransformerTest/CiderCompoundPatternTest.cpp
  cider-velox/test/planTransformerTest/CiderPatternJoinMixedTest.cpp
Labels: velox_plugin, test

#188 [POAE7-2479] Use share_ptr<CiderBatch> for join bridge
  cider-velox/src/CiderJoinBuild.cpp
  cider-velox/src/CiderJoinBuild.h
  cider-velox/src/CiderOperator.cpp
  cider-velox/src/CiderOperator.h
  cider-velox/test/CiderOperatorHashJoinTest.cpp
  cider-velox/test/CiderOperatorTestBase.h
Labels: velox_plugin, test

#187 [POAE7-2591] wrap planslice as substrait plan and do RelAlgEU generation
  cider/exec/plan/validator/CiderPlanValidator.cpp
  cider/exec/plan/validator/CiderPlanValidator.h
  cider/exec/plan/validator/SingleNodeValidator.cpp
  cider/exec/plan/validator/SingleNodeValidator.h
  cider/tests/CMakeLists.txt
  cider/tests/plan/CiderPlanValidatorTest.cpp
  cider/tests/substrait_plan_files/cider_pv_invalid_agg.json
  cider/tests/substrait_plan_files/cider_pv_invalid_join.json
  cider/tests/substrait_plan_files/cider_pv_invalid_read.json
  cider/tests/substrait_plan_files/cider_pv_multi_join.json
Labels: test, cider

#203 [POAE7-2589] Nextgen Filter-Proj Execution Pipeline Intergration & Refactor
  cider/exec/nextgen/Nextgen.h
  cider/exec/nextgen/context/Batch.cpp
  cider/exec/nextgen/context/Batch.h
  cider/exec/nextgen/context/CodegenContext.cpp
  cider/exec/nextgen/context/CodegenContext.h
  cider/exec/nextgen/context/ContextRuntimeFunctions.h
  cider/exec/nextgen/context/RuntimeContext.h
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/operators/ArrowSourceNode.cpp
  cider/exec/nextgen/operators/ArrowSourceNode.h
  cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cider/exec/nextgen/operators/ColumnToRowNode.h
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/operators/FilterNode.h
  cider/exec/nextgen/operators/OpNode.h
  cider/exec/nextgen/operators/ProjectNode.cpp
  cider/exec/nextgen/operators/ProjectNode.h
  cider/exec/nextgen/operators/RowToColumnNode.cpp
  cider/exec/nextgen/operators/RowToColumnNode.h
  cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  cider/exec/nextgen/transformer/Transformer.cpp
  cider/exec/nextgen/transformer/Transformer.h
  cider/exec/nextgen/utils/JITExprValue.h
  cider/exec/nextgen/utils/TypeUtils.h
  cider/function/scalar/RuntimeFunctions.cpp
  cider/function/scalar/RuntimeFunctions.h
  cider/tests/nextgen/CMakeLists.txt
  cider/tests/nextgen/compiler/CMakeLists.txt
  cider/tests/nextgen/compiler/NextgenCompilerTest.cpp
  cider/type/data/sqltypes.h
  cider/type/plan/Analyzer.h
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/ColumnExpr.cpp
  cider/type/plan/ConstantExpr.cpp
  cider/type/plan/Expr.cpp
  cider/type/plan/Expr.h
Labels: test, cider

#206 [POAE7-2633]build-presto-package switch to WW43
  ci/scripts/build-presto-package.sh
  ci/scripts/presto-bdtk-67b3bf.patch
Labels: CICD

#195 [POAE7-2599] verify PartialAVG with groupby for arrow format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/operator/aggregate/CiderAggTargetColExtractorTmpl.h
  cider/tests/functionality/CiderAggArrowTest.cpp
  cider/tests/substrait_plan_files/multi_fp_groupby_avg_partial.json
  cider/tests/utils/CiderQueryRunner.cpp
Labels: test, cider

#196 [POAE7-2553] String Scalar Function support: length
  cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cider/function/string/StringOps.cpp
  cider/function/string/StringOps.h
  cider/tests/functionality/CiderStringTest.cpp
  cider/tests/substrait_plan_files/stringop_charlen_filter.json
  cider/tests/substrait_plan_files/stringop_charlen_filter_null.json
  cider/tests/substrait_plan_files/stringop_charlen_nested.json
  cider/tests/substrait_plan_files/stringop_charlen_nested_null.json
  cider/tests/substrait_plan_files/stringop_charlen_project_1.json
  cider/tests/substrait_plan_files/stringop_charlen_project_1_null.json
  cider/tests/substrait_plan_files/stringop_charlen_project_2.json
  cider/tests/substrait_plan_files/stringop_charlen_project_2_null.json
  cider/tests/utils/CiderQueryRunner.cpp
  cider/type/plan/Analyzer.cpp
  cider/type/plan/Analyzer.h
  cider/util/sqldefs.h
Labels: test, cider

#208 [POAE7-2627] support STRUCT result for non-groupby agg for arrow format
  cider/exec/module/CiderRuntimeModule.cpp
  cider/exec/module/batch/CiderBatchUtils.cpp
  cider/include/cider/batch/CiderBatchUtils.h
  cider/tests/functionality/CiderAggArrowTest.cpp
  cider/tests/utils/ArrowArrayBuilder.h
  cider/tests/utils/ArrowArrayBuilderTest.cpp
Labels: test, cider

#210 [POAE7-2648] support null in filter and expr
  cider/exec/nextgen/jitlib/base/JITValue.h
  cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cider/exec/nextgen/operators/FilterNode.cpp
  cider/exec/nextgen/utils/JITExprValue.h
  cider/tests/nextgen/compiler/CMakeLists.txt
  cider/tests/nextgen/compiler/FilterProjectTest.cpp
  cider/type/plan/BinaryExpr.cpp
  cider/type/plan/BinaryExpr.h
  cider/type/plan/ConstantExpr.cpp
Labels: test, cider, infra

#212 [POAE7-2636] Template base Lambda wapper to replace some std::function
  cider/exec/nextgen/context/Batch.cpp
  cider/exec/nextgen/utils/FunctorUtils.h
Labels: cider
