Repository intel/BDTK, pull requests merged in 2023-04, with the labels that each got.

#424 [POAE7-2929] Remove old options，some new option support gflags
  ci/scripts/intel_copyright_files.txt
  cpp/src/cider-velox/benchmark/CMakeLists.txt
  cpp/src/cider-velox/benchmark/expression/ArithmeticAndComparison.cpp
  cpp/src/cider-velox/benchmark/expression/PipelineOperator.cpp
  cpp/src/cider-velox/benchmark/expression/StringFunctionBenchmark.cpp
  cpp/src/cider-velox/src/ciderTransformer/CMakeLists.txt
  cpp/src/cider-velox/test/CMakeLists.txt
  cpp/src/cider-velox/test/planTransformerTest/CMakeLists.txt
  cpp/src/cider/exec/module/CiderOptions.cpp
  cpp/src/cider/exec/nextgen/Nextgen.cpp
  cpp/src/cider/exec/nextgen/Nextgen.h
  cpp/src/cider/exec/nextgen/context/CodegenContext.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITTargets.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITTargets.h
  cpp/src/cider/exec/nextgen/transformer/Transformer.cpp
  cpp/src/cider/exec/nextgen/transformer/Transformer.h
  cpp/src/cider/exec/plan/lookup/FunctionLookupEngine.cpp
  cpp/src/cider/exec/plan/lookup/SubstraitFunctionCiderMappings.h
  cpp/src/cider/exec/processor/CMakeLists.txt
  cpp/src/cider/exec/processor/DefaultBatchProcessor.cpp
  cpp/src/cider/exec/processor/DefaultBatchProcessor.h
  cpp/src/cider/exec/processor/StatefulProcessor.cpp
  cpp/src/cider/exec/processor/StatefulProcessor.h
  cpp/src/cider/include/cider/CiderOptions.h
  cpp/src/cider/include/cider/processor/BatchProcessor.h
  cpp/src/cider/tests/CMakeLists.txt
  cpp/src/cider/tests/nextgen/compiler/CMakeLists.txt
  cpp/src/cider/tests/nextgen/compiler/CrossJoinTest.cpp
  cpp/src/cider/tests/nextgen/compiler/HashJoinTest.cpp
  cpp/src/cider/tests/nextgen/compiler/NextgenCompilerTest.cpp
  cpp/src/cider/tests/nextgen/functional/CMakeLists.txt
  cpp/src/cider/tests/nextgen/functional/CastTest.cpp
  cpp/src/cider/tests/nextgen/functional/CiderMathOpNextgenTest.cpp
  cpp/src/cider/tests/nextgen/functional/benchmark/CMakeLists.txt
  cpp/src/cider/tests/nextgen/jitlib/CMakeLists.txt
  cpp/src/cider/tests/processor/CMakeLists.txt
  cpp/src/cider/tests/utils/CMakeLists.txt
  cpp/src/cider/tests/utils/CiderNextgenBenchmarkRunner.cpp
  cpp/src/cider/tests/utils/CiderNextgenBenchmarkRunner.h
  cpp/src/cider/tests/utils/CiderNextgenQueryRunner.cpp
  cpp/src/cider/tests/utils/CiderNextgenQueryRunner.h
  cpp/src/cider/tests/utils/CiderNextgenTestBase.h
  cpp/src/cider/type/plan/Analyzer.h
  cpp/src/cider/type/plan/ExprType.h
Labels: codeRefactor

#429 [POAE7-2921] Enable Vectorized Filter and Project for TPC-H Q6
  cpp/src/cider/exec/nextgen/jitlib/base/JITValue.h
  cpp/src/cider/exec/nextgen/jitlib/base/JITValueOperations.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.h
  cpp/src/cider/exec/nextgen/operators/VectorizedFilterNode.cpp
  cpp/src/cider/exec/nextgen/operators/VectorizedProjectNode.cpp
  cpp/src/cider/exec/nextgen/utils/TypeUtils.h
  cpp/src/cider/exec/plan/parser/SubstraitToAnalyzerExpr.cpp
  cpp/src/cider/tests/nextgen/jitlib/JITLibTest.cpp
  cpp/src/cider/type/plan/BinaryExpr.cpp
  cpp/src/cider/type/plan/BinaryExpr.h
  cpp/src/cider/type/plan/Expr.h
  cpp/src/cider/type/plan/UnaryExpr.cpp
  cpp/src/cider/type/plan/UnaryExpr.h
Labels: infra

#438 [POAE7-2938] Merge cider-velox libraries to libcider_velox_static.a
  ci/scripts/build-presto-package.sh
  ci/scripts/integrate-presto-bdtk.sh
  ci/scripts/presto-bdtk-67b3bf.patch
  ci/scripts/presto-integration.sh
  cpp/CMakeLists.txt
  cpp/cmake-modules/substrait.cmake
  cpp/src/cider-velox/CMakeLists.txt
  cpp/src/cider-velox/benchmark/CMakeLists.txt
  cpp/src/cider-velox/benchmark/expression/StringFunctionBenchmark.cpp
  cpp/src/cider-velox/test/CMakeLists.txt
  cpp/src/cider/CMakeLists.txt
  cpp/src/cider/examples/CMakeLists.txt
  cpp/src/cider/exec/module/CMakeLists.txt
  cpp/src/cider/exec/nextgen/context/CMakeLists.txt
  cpp/src/cider/exec/nextgen/jitlib/CMakeLists.txt
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cpp/src/cider/exec/plan/CMakeLists.txt
  cpp/src/cider/exec/processor/CMakeLists.txt
  cpp/src/cider/exec/template/CMakeLists.txt
  cpp/src/cider/function/CMakeLists.txt
  cpp/src/cider/tests/CMakeLists.txt
  cpp/src/cider/tests/functionality/CMakeLists.txt
  cpp/src/cider/tests/functionality/FunctionLookUpTest.cpp
  cpp/src/cider/tests/hashtable/CMakeLists.txt
  cpp/src/cider/tests/nextgen/benchmark/CodegenLevelBenchmark.cpp
  cpp/src/cider/tests/nextgen/benchmark/FilterBenchmark.cpp
  cpp/src/cider/tests/nextgen/compiler/CMakeLists.txt
  cpp/src/cider/tests/nextgen/functional/CMakeLists.txt
  cpp/src/cider/tests/nextgen/functional/benchmark/CMakeLists.txt
  cpp/src/cider/tests/nextgen/jitlib/CMakeLists.txt
  cpp/src/cider/tests/nextgen/operator/CMakeLists.txt
  cpp/src/cider/tests/nextgen/operator/ColumnToRowTest.cpp
  cpp/src/cider/tests/nextgen/operator/FilterProjectTest.cpp
  cpp/src/cider/tests/nextgen/operator/MockRowToColumn.h
  cpp/src/cider/tests/nextgen/operator/MockSink.h
  cpp/src/cider/tests/nextgen/operator/RowToColumnTest.cpp
  cpp/src/cider/tests/plan/CMakeLists.txt
  cpp/src/cider/tests/processor/CMakeLists.txt
  cpp/src/cider/tests/profiling/CMakeLists.txt
  cpp/src/cider/tests/utils/CMakeLists.txt
Labels: CICD, codeRefactor
