Repository intel/BDTK, pull requests merged in 2023-01, with the labels that each got.

#268 [POAE7-2640] CIDER-VELOX to support batchProcessor
  ci/scripts/build-presto-package.sh
  ci/scripts/presto-integration.sh
  src/cider-velox/src/CMakeLists.txt
  src/cider-velox/src/CiderPlanNodeTranslator.h
  src/cider-velox/src/CiderVeloxOptions.cpp
  src/cider-velox/src/CiderVeloxOptions.h
  src/cider/exec/processor/BatchProcessor.cpp
  src/cider/exec/processor/DefaultBatchProcessor.cpp
  src/cider/exec/processor/DefaultJoinHashTableBuilder.h
Labels: CICD

#299 [POAE7-2731] JITLib Auto-Vectorize Support: SSE
  src/cider/benchmarks/JITlibBenchmark.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.h
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.h
Labels: infra

#302 [POAE7-2633]add cider_processor cider_plan_substrait
  ci/scripts/presto-bdtk-67b3bf.patch
Labels: CICD

#300 [POAE7-2760]expr performance compared using new batch api
  src/cider-velox/benchmark/CMakeLists.txt
  src/cider-velox/benchmark/expression/ArithmeticAndComparison.cpp
  src/cider-velox/benchmark/expression/CMakeLists.txt
  src/cider-velox/benchmark/expression/CiderComparisonConjunct.cpp
  src/cider-velox/benchmark/expression/ExprEvalUtils.cpp
  src/cider-velox/benchmark/expression/ExprEvalUtils.h
  src/cider-velox/benchmark/expression/VeloxToCiderExpr.cpp
  src/cider-velox/benchmark/expression/VeloxToCiderExpr.h
  src/cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  src/cider/exec/processor/DefaultBatchProcessor.cpp
  src/cider/exec/processor/StatelessProcessor.cpp
  src/cider/type/plan/StringOpExpr.h
Labels: infra

#314 [POAE7-2733] JITLib Benchmark: AVX
  CMakeLists.txt
  Makefile
  src/cider/CMakeLists.txt
  src/cider/benchmarks/CMakeLists.txt
  src/cider/benchmarks/JITlibBenchmark.cpp
  src/cider/exec/nextgen/CMakeLists.txt
  src/cider/type/data/funcannotations.h
Labels: infra

#309 [POAE7-2691] non groupby agg support count
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/operators/AggregationNode.cpp
  src/cider/exec/nextgen/operators/AggregationNode.h
  src/cider/exec/nextgen/operators/OperatorRuntimeFunctions.h
  src/cider/exec/nextgen/operators/extractor/AggExtractorBuilder.cpp
  src/cider/exec/nextgen/operators/extractor/AggExtractorBuilder.h
  src/cider/tests/nextgen/compiler/AggTest.cpp
Labels: infra

#277 [POAE7-2665] HashJoinTranslator support
  src/cider/exec/nextgen/CMakeLists.txt
  src/cider/exec/nextgen/Nextgen.cpp
  src/cider/exec/nextgen/Nextgen.h
  src/cider/exec/nextgen/context/Buffer.h
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/context/RuntimeContext.cpp
  src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  src/cider/exec/nextgen/operators/CMakeLists.txt
  src/cider/exec/nextgen/operators/ColumnToRowNode.cpp
  src/cider/exec/nextgen/operators/HashJoinNode.cpp
  src/cider/exec/nextgen/operators/HashJoinNode.h
  src/cider/exec/nextgen/operators/OperatorRuntimeFunctions.h
  src/cider/exec/nextgen/parsers/Parser.h
  src/cider/exec/nextgen/parsers/RelAlgEUParser.cpp
  src/cider/tests/nextgen/compiler/CMakeLists.txt
  src/cider/tests/nextgen/compiler/HashJoinTest.cpp
  src/cider/type/plan/BinaryExpr.cpp
Labels: CICD, infra

#313 [POAE7-2723] ICL user guide
  README.md
  docs/images/ICL-class.png
  docs/user/modules/ICL-module.rst
  docs/user/quick-start.rst
  src/compression/codec/icl_codec.h
Labels: documentation

#315 [POAE7-2780] Agg support min max
  src/cider/exec/nextgen/context/CodegenContext.cpp
  src/cider/exec/nextgen/context/CodegenContext.h
  src/cider/exec/nextgen/operators/AggregationNode.cpp
  src/cider/exec/nextgen/operators/OperatorRuntimeFunctions.h
  src/cider/exec/nextgen/operators/extractor/AggExtractorBuilder.cpp
  src/cider/exec/plan/parser/TypeUtils.h
  src/cider/tests/nextgen/compiler/AggTest.cpp
Labels: infra

#329 [POAE7-2806] Add ProjectPattern for ciderPlanTransformer
  docs/user/quick-start.rst
  src/cider-velox/src/ciderTransformer/CiderPlanPatterns.cpp
  src/cider-velox/src/ciderTransformer/CiderPlanPatterns.h
  src/cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.cpp
  src/cider-velox/src/ciderTransformer/CiderPlanTransformerOptions.cpp
  src/cider-velox/src/ciderTransformer/CiderPlanTransformerOptions.h
  src/cider-velox/src/planTransformer/PatternRewriter.h
  src/cider-velox/test/CiderOperatorTestBase.h
  src/cider-velox/test/CiderPatternTest.cpp
Labels: documentation

#339 Revert "[POAE7-2806] Add ProjectPattern for ciderPlanTransformer"
  cpp/src/cider-velox/src/ciderTransformer/CiderPlanPatterns.cpp
  cpp/src/cider-velox/src/ciderTransformer/CiderPlanPatterns.h
  cpp/src/cider-velox/src/ciderTransformer/CiderPlanTransformerFactory.cpp
  cpp/src/cider-velox/src/ciderTransformer/CiderPlanTransformerOptions.cpp
  cpp/src/cider-velox/src/ciderTransformer/CiderPlanTransformerOptions.h
  cpp/src/cider-velox/src/planTransformer/PatternRewriter.h
  cpp/src/cider-velox/test/CiderOperatorTestBase.h
  cpp/src/cider-velox/test/CiderPatternTest.cpp
  docs/user/quick-start.rst
Labels: documentation

#331 [POAE7-2809]try to optimize expression performance
  cpp/src/cider-velox/benchmark/expression/ArithmeticAndComparison.cpp
  cpp/src/cider/exec/module/CiderOptions.cpp
  cpp/src/cider/exec/nextgen/Nextgen.cpp
  cpp/src/cider/exec/nextgen/context/CodegenContext.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITEngine.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITModule.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITValue.cpp
  cpp/src/cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cpp/src/cider/exec/nextgen/operators/ColumnToRowNode.h
  cpp/src/cider/exec/nextgen/operators/OpNode.h
  cpp/src/cider/exec/nextgen/operators/ProjectNode.cpp
  cpp/src/cider/exec/nextgen/operators/ProjectNode.h
  cpp/src/cider/exec/nextgen/operators/RowToColumnNode.cpp
  cpp/src/cider/exec/nextgen/operators/RowToColumnNode.h
  cpp/src/cider/exec/nextgen/transformer/Transformer.cpp
  cpp/src/cider/exec/plan/parser/TypeUtils.h
  cpp/src/cider/exec/processor/DefaultBatchProcessor.cpp
  cpp/src/cider/exec/processor/DefaultBatchProcessor.h
  cpp/src/cider/function/scalar/RuntimeFunctions.cpp
  cpp/src/cider/include/cider/CiderOptions.h
  cpp/src/cider/type/plan/BinaryExpr.cpp
  cpp/src/cider/type/plan/BinaryExpr.h
  cpp/src/cider/type/plan/ColumnExpr.cpp
  cpp/src/cider/type/plan/ColumnExpr.h
  cpp/src/cider/type/plan/ConstantExpr.cpp
  cpp/src/cider/type/plan/ConstantExpr.h
  cpp/src/cider/type/plan/Expr.cpp
  cpp/src/cider/type/plan/Expr.h
  cpp/src/cider/util/CiderBitUtils.h
Labels: infra

#337 [POAE7-2816] migrate agg test
  cpp/src/cider/exec/nextgen/operators/AggregationNode.cpp
  cpp/src/cider/tests/nextgen/functional/AggFunctionTest.cpp
  cpp/src/cider/tests/utils/CiderArrowChecker.cpp
Labels: infra

#332 [POAE7-2811] Support continue in LoopBuilder.
  cpp/src/cider/benchmarks/JITlibBenchmark.cpp
  cpp/src/cider/exec/nextgen/jitlib/base/JITControlFlow.h
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.cpp
  cpp/src/cider/exec/nextgen/jitlib/llvmjit/LLVMJITControlFlow.h
  cpp/src/cider/exec/nextgen/operators/ColumnToRowNode.cpp
  cpp/src/cider/exec/nextgen/operators/HashJoinNode.cpp
  cpp/src/cider/tests/nextgen/jitlib/JITLibTest.cpp
Labels: infra
